@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --: 0px 2px 2px 0px rgba(0, 0, 0, 0.38);
  --black: rgba(32, 32, 32, 1);
  --blue: rgba(17, 165, 177, 1);
  --bue-2: rgba(29, 84, 167, 1);
  --green: rgba(137, 185, 41, 1);
  --grey-2: rgba(244, 244, 244, 1);
  --grey-3: rgba(220, 220, 220, 1);
  --grey-4: rgba(171, 171, 171, 1);
  --grey1-bg: rgba(250, 250, 250, 1);
  --light-blue: rgba(237, 252, 253, 1);
  --light-yellow: rgba(253, 251, 242, 1);
  --ngblue: rgba(46, 109, 208, 1);
  --nggreen: rgba(85, 177, 140, 1);
  --nglight-blue: rgba(74, 155, 229, 1);
  --ngorange: rgba(236, 127, 81, 1);
  --ngpink: rgba(233, 66, 120, 1);
  --ngpurple: rgba(189, 161, 237, 1);
  --ngred: rgba(221, 64, 60, 1);
  --ngtext: rgba(34, 34, 34, 1);
  --ngyellow: rgba(237, 197, 84, 1);
  --pink: rgba(225, 129, 148, 1);
  --red: rgba(223, 59, 62, 1);
  --text: rgba(34, 34, 34, 1);
  --text-2: rgba(114, 114, 114, 1);
  --white: rgba(255, 255, 255, 1);
  --yellow: rgba(232, 217, 124, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
